@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gruppo:wght@600&family=Roboto+Mono:wght@300&family=Cabin+Sketch:wght@400&family=Roboto+Slab:wght@300&display=swap");

body {
  font-family: "Gruppo", monospace;
  font-size: 24px;
  color: #1a2c34;
  margin: 0 auto;
  background-color: #ffffff;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  justify-items: center;
  /* box-shadow: -3px 3px 10px 3px #00000085; */
  font-family: "Bebas Neue", serif;
  letter-spacing: 0.25rem;
  background-image: linear-gradient(
    to bottom,
    #000000 85%,
    #cc5500,
    #ffa500,
    #f7e997,
    #ffffff
  );
  padding-bottom: 1.75rem;
}

nav a {
  color: #ffffff;
  padding: 1rem;
}

nav a:hover {
  color: #ffa500;
}

main {
  margin: 0 auto;
  max-width: 80vw;
  padding: 1rem;
  box-sizing: border-box;
}

h2 {
  font-size: 2rem;
  padding: 1rem 4rem;
  max-width: fit-content;
  margin: 2rem auto;
  font-family: "Bebas Neue", serif;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  background-image: linear-gradient(
    to right,
    #ffffff,
    #f7e997,
    #ffa500,
    #cc5500,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #cc5500,
    #ffa500,
    #f7e997,
    #ffffff
  );
}

h3 {
  font-family: "Bebas Neue", serif;
  letter-spacing: 0.25rem;
  font-size: 2rem;
  margin: 0.25rem;
  font-weight: normal;
  text-align: center;
}

.my-story {
  background-color: #243b47;
  border-radius: 1.5rem;
  padding: 0.5rem 2rem;
}

.skills {
  background-color: #ffffff;
  border-radius: 1.5rem;
  padding: 2rem;
}

.projectGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.card {
  background-color: #1a2c34;
  color: #ffffff;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
}

.card a {
  color: #76c2c2;
  font-size: 0.75rem;
}

.card a:hover {
  text-decoration: underline;
}

.langFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.lang {
  background-color: #243b47;
  color: #76c2c2;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  margin: 0;
}

.section-grid {
  background-color: #243b47;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  box-shadow: 0px 2px 10px 3px #00000085;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.main-grid h4 {
  margin-bottom: 0;
  font-weight: normal;
  font-size: inherit;
}

.sub-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  align-items: center;
  max-width: 100%;
}

.total {
  background-color: #1a2c34;
  border-radius: 1.5rem;
  max-width: 100%;
  height: 2.25rem;
}

.length {
  background-color: #76c2c2;
  color: #ffffff;
  border-radius: 1.5rem;
  max-width: 100%;
  height: 2.25rem;
  overflow: hidden;
}

hr {
  width: 30px;
  border: none;
  border-top: 6px dotted #76c2c2;
}

a {
  text-decoration: none;
  color: #243b47;
}

footer {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  color: #ffffff;
  letter-spacing: 0.15rem;
  text-align: center;
  background-image: linear-gradient(
    to top,
    #000000 85%,
    #cc5500,
    #ffa500,
    #f7e997,
    #ffffff
  );
}

footer a {
  color: #ffa500;
}

footer a:hover {
  color: #ffffff;
}

@media only screen and (max-width: 1200px) {
  main {
    max-width: 90vw;
  }

  .projectGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 840px) {
  main {
    max-width: 95vw;
  }

  .projectGrid {
    grid-template-columns: 1fr;
  }
}
